<% provide(:subtitle, " | About") %>

<h1>About us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe laborum explicabo eos asperiores voluptatum velit provident obcaecati consequuntur perspiciatis fuga rem laboriosam rerum, totam doloremque illum vero iusto numquam possimus?</p>