<header>
    <nav>
    <a href="<%= home_path %>" class="home"><i class="fas fa-unicorn"></i></a>
        <ul>
            <li><a href="<%= home_path %>">Home</a></li>
            <li><a href="<%= about_path %>">About</a></li>
            <li><a href="<%=users_path %>">Users</a></li>
        </ul>
    </nav>
</header>